
<div id="mainFrame2" *ngIf="mProductArray" style="overflow: hidden;">
                <BR>
                <h5 class="text-white ml-1 col-12" style="font-weight: bold;">ATE Profile</h5><BR>

                <mat-form-field class="col-5 col-sm-2" style="display: inline-block;">
                    <mat-label class="text-white">Config Type</mat-label>
                    <mat-select [(value)]="filterSelected" (selectionChange)="selectionChanged($event)" class="text-white">
                        <mat-option *ngFor="let dropDownItem of stringArray1" [value]="dropDownItem" >
                            {{dropDownItem}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-5 col-sm-2" style="display: inline-block;">
                    <mat-label class="text-white">Hardware Type</mat-label>
                    <mat-select [(value)]="filterSelected2" (selectionChange)="selectionChanged2($event)">
                        <mat-option *ngFor="let dropDownItem of stringArray2" [value]="dropDownItem">
                            {{dropDownItem}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button  color="primary" (click)="clearFilter()" class="btn btn-primary"> Clear Filter </button>

                <button  color="primary" class="ml-4 btn btn-primary" (click)="addNewProfile()"> Add New Profile </button>

              <!--   <h6 class=" text-white ml-5 col-2" style="background-color: rgb(73, 158, 207) !important;"
                    style="display: inline-block ;"> tbATEConfigFile table from MSSQL</h6> -->
              
                    <table class="table table-bordered table-striped table-hover" id="table">
                        <thead class="thead">
                            <tr>
                                <th class="text-center">ConfigId </th>
                                <th class="text-center">StationId </th>
                                <th class="text-center">ConfigType </th>
                                <th class="text-center">HardwareType </th>
                                <th class="text-center">UserId </th>

                                <th class="text-center">DateAdd </th>
                                <th class="text-center">DateModify </th>
                             
                                <th class="text-center">ConfigName </th>
                                <th class="text-center">ConfigRevNo </th>
                                <th class="text-center">ConfigData </th>
                                <th class="text-center">CheckSum </th>
                               
                                <th class="text-center">IsActive </th>
                                <th class="text-center">Action</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mProductArray">
                                <td class="text-center">{{ item.configId  }}</td>
                                <td class="text-center">{{ item.stationId  }}</td>
                                <td class="text-center">{{ item.configType  }}</td>

                                <td class="text-center">{{ item.hardwareType  }}</td>
                                <td class="text-center">{{ item.userId  }}</td>
                                <td class="text-center">{{ item.dateAdd  }}</td>

                                <td class="text-center">{{ item.dateModify  }}</td>
                             
                                <td class="text-center">{{ item.configName  }}</td>

                                <td class="text-center">{{ item.configRevNo  }}</td>
                                <td class="text-center" style="word-wrap:break-word;min-width: 600px;max-width: 600px;"><pre>{{ item.configData  }}</pre></td>

                                <td class="text-center" style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ item.checkSum  }}</td>
                            
                                <td class="text-center">{{ item.isActive  }}</td>


                                <td class="text-center">

                                    <img (click)="edit(item.configId )" src="assets/images/ic_edit.png"
                                        class="edit_product">
                                    <img (click)="downloadConfigData(item.configData,item.configName )" src="assets/images/download.png"
                                        class="edit_product">

                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

</div>

