

<div class="login-page" style="background-color: bisque;" >
    <style>
        .login-page {
            background-image: url("assets/images/iridium-next-2000px.jpg");
        }
    </style>


    <div class="login-boxxx" style="background-color: aquamarine;width: 30%; height: 30%; position:absolute;min-width: 300px;max-width: 350px" >


        <!-- /.login-logo -->
        <div class="card"  >

            <div class="card-body login-card-bodyxxx" >

                <form  #loginForm="ngForm" (submit)="onSubmit(loginForm)"  >
                    <div class="input-group mb-3" id="div1">

                        <img width="320px" height="150px" id="logo" src="assets/images/output-onlinepngtools.png">

                    </div>


                    <div class="input-group mb-3">
                        <input id="username" [ngModel]="'admin1'" name="username" type="email" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="password" [ngModel]="'admin'" name="password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- -->
                        <div class="col-8">
                            <div class="icheck-primary" style="opacity: 0%;">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                   
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
               

                <!-- /.social-auth-links -->
                 <!-- /.login-logo 
                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="text-center">Register a
                        new membership</a>
                   
                </p>
                    -->
            </div>
            
            <!-- /.login-card-body -->
        </div>
        
    </div>
    
    <!-- /.login-box -->
   
</div>

