<div class="content-wrapper" style="background-color: transparent">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="color: aliceblue;">
                    <h1>Edit IMEI</h1>
                </div>
            </div>
        </div>
    </section>
  
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <form role="form">
                            <div class="card-body">
                                <div class="row" *ngIf="mProduct.id9522b_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9522b_imei" type="number" class="form-control" name="id9522b_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9522b_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9522b_ext_imei" type="number" class="form-control" name="id9522b_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9523_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9523_ext_imei" type="number" class="form-control" name="id9523_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9523_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9523_imei" type="number" class="form-control" name="id9523_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9523mw_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9523mw_ext_imei" type="number" class="form-control" name="id9523mw_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9523mw_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9523mw_imei" type="number" class="form-control" name="id9523mw_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9523ptt_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9523ptt_imei" type="number" class="form-control" name="id9523ptt_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9555a_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9555a_ext_imei" type="number" class="form-control" name="id9555a_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9555a_gsa_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9555a_gsa_imei" type="number" class="form-control" name="id9555a_gsa_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9555a_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9555a_imei" type="number" class="form-control" name="id9555a_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575_ext_imei" type="number" class="form-control" name="id9575_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575_imei" type="number" class="form-control" name="id9575_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575e_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575e_ext_imei" type="number" class="form-control" name="id9575e_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575e_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575e_imei" type="number" class="form-control" name="id9575e_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575gsa_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575gsa_imei" type="number" class="form-control" name="id9575gsa_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575ptt_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575ptt_ext_imei" type="number" class="form-control" name="id9575ptt_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9575ptt_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9575ptt_imei" type="number" class="form-control" name="id9575ptt_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9602_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9602_imei" type="number" class="form-control" name="id9602_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9602n_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9602n_ext_imei" type="number" class="form-control" name="id9602n_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9602r_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9602r_imei" type="number" class="form-control" name="id9602r_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9602sb_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9602sb_ext_imei" type="number" class="form-control" name="id9602sb_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9602sb_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9602sb_imei" type="number" class="form-control" name="id9602sb_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9603_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9603_imei" type="number" class="form-control" name="id9603_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9603r_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9603r_imei" type="number" class="form-control" name="id9603r_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.idbcx_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.idbcx_imei" type="number" class="form-control" name="idbcx_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.idbcx_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>mac_addr</label>
                                            <input [(ngModel)]="mProduct.mac_addr" type="text" class="form-control" name="mac_addr" >
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.idgdb_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.idgdb_imei" type="number" class="form-control" name="idgdb_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.idgdb_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>psk</label>
                                            <input [(ngModel)]="mProduct.psk" type="text" class="form-control" name="psk" >
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.idgdb_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>terminal</label>
                                            <input [(ngModel)]="mProduct.terminal" type="text" class="form-control" name="terminal" >
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.idsfx_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.idsfx_imei" type="number" class="form-control" name="idsfx_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="mProduct.id9522b_ext_imei">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input [(ngModel)]="mProduct.id9522b_ext_imei" type="number" class="form-control" name="id9522b_ext_imei" disabled>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>IMEI</label>
                                            <input [(ngModel)]="mProduct.imei" type="text" class="form-control" name="imei">
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SN</label>
                                            <input [(ngModel)]="mProduct.sn" type="text" class="form-control" name="sn" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Remodel</label>
                                            <input [(ngModel)]="mProduct.remodel" type="text" class="form-control" name="remodel">
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button (click)="submit()" type="submit" class="btn btn-primary float-right">Submit</button>
                                <button (click)="cancel()" class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
