

.table-responsive {
    max-height:900px;
    
  }
  
  
  
    thead>tr>th {
      vertical-align: middle;
      height:100px;
      
    }
  
    .edit_product,
    .delete_product {
      width: 40px;
      cursor: pointer;
    }
  
    .edit_product{
      margin-left: 10px;
    }
    
    .delete_product{
      margin-left: 10px;
    }
    
    .product_image {
      max-width: 50px;
      margin-right: 12px;
    }
    
    .product_name {
      width: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .content-header{
      padding-bottom: 0;
    }
    
    table td{
      vertical-align: unset;
    }
  
   
    
    .btn-add{
      width: 80px;
    }
    
    .card-body-header{
      margin-bottom: 20px;
    }
  
    #bgFrame{
  
    
      width: 100%; 
  
    }
  
    #mainFrame{
      width: 100%; 
  
    }
  