<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Edit IRD</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input [(ngModel)]="mProduct.uutstatusTypeName" type="text" class="form-control" name="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input [(ngModel)]="mProduct.uutstatusTypeDesc" type="text" class="form-control" name="price">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button (click)="submit()" type="submit" class="btn btn-primary float-right">Submit</button>
                                <button (click)="cancel()" class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>